[default]
port = 4441
# public_port = 80
# address = "0.0.0.0"
# hostname = "localhost"
# https = false
# base_url = "/brg"

[release]
port = 4440

[default.databases.main]
url = "sqlite://./big-red-guy.sqlite?mode=rwc"

[default.email]
smtp_host = "smtp.example.com"
username = ""
password = ""
from_address = "BigRedGuy <no-reply@domain.com>"
