<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{{ url_for(path='/apple-touch-icon.png') }}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{{ url_for(path='/favicon-32x32.png') }}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{{ url_for(path='/favicon-16x16.png') }}"
    />
    <link rel="icon" href="{{ url_for(path='/favicon.ico') }}" />
    <link
      rel="mask-icon"
      href="{{ url_for(path='/safari-pinned-tab.svg') }}"
      color="#DD2E44"
    />
    <link rel="manifest" href="{{ url_for(path='/manifest.json') }}" />
    <title>{% block title %}BigRedGuy{% endblock title %}</title>
    {% block head %}{% endblock %}
  </head>
  <body style="background: #f4f4f4; font-family: sans-serif; padding: 1rem">
    <div style="width: 100%; max-width: 600px; margin: auto">
      <table
        style="
          background: white;
          padding: 1rem;
          border: 0;
          border-radius: 0.4rem;
          width: 100%;
        "
      >
        <tbody>
          {% block header %}
          <tr>
            <td>
              <img
                src="{{ url_for(path='/android-chrome-512x512.png') }}"
                style="
                  height: 2rem;
                  width: 2rem;
                  margin-right: 0.5rem;
                  vertical-align: sub;
                "
              />
              <h1 style="margin: 0; display: inline">
                Big<span style="color: red">Red</span>Guy
              </h1>
            </td>
          </tr>
          {% endblock %} {% block body %}{% endblock %}
        </tbody>
      </table>
      <div style="color: #aaaaaa; font-size: 0.8rem">
        <p style="text-align: center">
          This is an automated message, please do not reply.
        </p>
      </div>
    </div>
  </body>
</html>
