{% extends "email/templates/base.html" %} {% block body %}
<div>
  <p>Hi {{ name }},</p>
</div>
<div>
  <p>
    A password reset was requested for your BigRedGuy account. This request will
    expire in 24 hours.
  </p>
</div>
<div style="margin: 1rem 0 1rem 0.5rem">
  <a
    style="
      padding: 0.5rem;
      border-radius: 0.2rem;
      background: #5894d0;
      color: white;
      text-decoration: none;
    "
    href="{{ url }}"
    >Change Password</a
  >
</div>
<div>
  <p>If you did not request this, please ignore this email.</p>
</div>
{% endblock %}
