{% extends "base.html" %} {% block body %}
<tr>
  <td style="padding: 0.5rem 0 0.5rem 0">Hi {{ name }},</td>
</tr>
<tr>
  <td style="padding: 0.5rem 0 0.5rem 0">
    A password reset was requested for your BigRedGuy account. This request will
    expire in 24 hours.
  </td>
</tr>
<tr style="margin: 1rem 0 1rem 0.5rem">
  <td style="padding: 0.5rem 0 0.5rem 0">
    <a
      style="
        padding: 0.5rem;
        border-radius: 0.2rem;
        background: #5894d0;
        color: white;
        text-decoration: none;
      "
      href="{{ url | safe }}"
      >Change Password</a
    >
  </td>
</tr>
<tr>
  <td style="padding: 0.5rem 0 0.5rem 0">If you did not request this, please ignore this email.</td>
</tr>
<tr>
  <td style="padding: 0.5rem 0 0.5rem 0">
    &nbsp;&nbsp;&#8211;&nbsp;&nbsp;BigRedGuy
  </td>
</tr>
{% endblock %}
