<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link rel="stylesheet" type="text/css" href="public/baseline.css">
    <style>
        #logout {
            position: absolute;
            top: 1rem;
            left: 1rem;
        }
    </style>
  </head>
  <body>
    <main id="centered" class="paper">
        <div id="modal">Welcome, {{ name }}!</div>
    </main>
    <div id="logout">
        <button onClick="javascript:window.location.href = '/logout';">Log Out</button>
    </div>
  </body>
</html>
