<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    >
    <link rel="stylesheet" type="text/css" href="/public/baseline.css">
    <style>
    </style>
  </head>
  <body>
    <main id="centered" class="flex-column paper">
        <div class="title flex-row" style="justify-content: center;">{{ list.name }}</div>
        {% if list.items | length %}
            <ul style="margin: 1rem 0 1rem 0">
                {% for item in list.items %}
                <li>{{ list.name }}&nbsp;-&nbsp;
                    <button onClick="javascript:window.location.href = '/wishlists/{{ list.id }}';">
                        View
                    </button>
                </li>
                {% endfor %}
            </ul>
        {% else %}
            <div class="flex-row" style="justify-content: center;">
                <i>You don't have any items in this list yet.</i>
            </div>
        {% endif %}
        <div class="flex-row" style="justify-content: center;">
            <div>Add an item <button onClick="javascript:window.location.href = '/wishlists/{{ list.id }}/add';">+</button></div>
        </div>
    </main>
    <div id="top-left">
        <button onClick="javascript:history.back();">Back</button>
    </div>
    <div id="top-right">
        <button onClick="javascript:window.location.href = '/logout';">Log Out</button>
    </div>
  </body>
</html>
