<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    >
    <link rel="stylesheet" type="text/css" href="/public/baseline.css">
    <style>
        #logout {
            position: absolute;
            top: 1rem;
            left: 1rem;
        }
    </style>
  </head>
  <body>
    <main id="centered" class="flex-column paper">
        <div>Welcome, {{ name }}!</div>
        <button onClick="javascript: window.location.href = '/wishlists';">Go to Wishlists</button>
    </main>
    <div id="top-right">
        <button onClick="javascript:window.location.href = '/logout';">Log Out</button>
    </div>
  </body>
</html>
