<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    >
    <link rel="stylesheet" type="text/css" href="/public/baseline.css">
    <style>
        #title {
            font-size: 2rem;
            margin-bottom: 0.5rem;
            display: flex;
            justify-content: center;
        }
    </style>
  </head>
<body>
    <main id="centered" class="flex-column">
        <div>
            <span id="title">Big<span style="color: red">Red</span>Guy</span>
        </div>
        <div class="paper flex-column">
            <div>A "Secret Santa" manager written in Rust.</div>
            <div class="flex-row">
                <div></div>
                <button onClick="javascript:window.location.href = '/register';">Register</button>
                <button onClick="javascript:window.location.href = '/login';">Login</button>
                <div></div>
            </div>
        </div>
    </main>
</body>
</html>
